.card {
  background: #fff;
  border-radius: 2px;
  height: 375px;
  position: relative;
  width: 300px;
  text-align: left;
  margin: 50px 25px;
  box-shadow: 12px 12px #888888;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  background-color:#0F185A;
  color: white;
  border-bottom-style: none;
  height: 115px;
  padding: 20px;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
